@charset "UTF-8";

/* The Cytoscape Web container must have its dimensions set. */

body, html {
	margin: 0;
	padding: 0;
	font-size: 11px;
	background-color: #ccccbb;
}
h1 {
	text-align: left;
	margin: 0.5% 0.5% 2% 0.5%;
	border-left: 7px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 0.5% 0.5% 0.5% 3%;
}
h3 {
	text-align: left;
	font-size: 11pt;
	margin: 2% 0.5% 2% 0.5%;
	border-left: 4px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1% 1% 1% 3%;
}
h4 {
	text-align: left;
	font-size: 9pt;
	margin: 0 0.5% 0 0.5%;
	padding: 2% 0 0 0.5%;
}
/*
 .view_description {
 margin: 0 0.5% 2.5% 0.5%;
 }
 */
h2 {
	text-align: left;
	font-size: 14pt;
	font-weight: bold;
	margin: 2% 0.5% 2% 0.5%;
	border-left: 5px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 1% 1% 1% 3%;
}
div#view_function h2 {
	padding: 1% 1% 1% 7%;
}
div#view_function div.view_function_contents {
	font-size: 11px;
}
.info_head_big {
	text-align: left;
	font-size: 16pt;
	font-weight: bold;
	margin: 2% 0.5% 2% 0.5%;
	padding: 1% 1% 1% 5%;
}
.info_head_mini {
	text-align: left;
	font-size: 9pt;
	font-weight: bold;
	margin: 0 0.5% 1% 0.5%;
	padding: 0 0 0 3%;
}
.view_function_contents_mini {
	margin: 0 0 0 0;
	padding: 0 0 5% 0;
}
.info_icon {
	cursor: pointer;
	float: right;
	/*margin-left: 15px;*/
}
.note {
	font-size: 8pt;
	color: #df0029;
}
#reference {
	font-size: 8pt;
}
/*
 #footer {
 clear: both;
 float: left;
 width: 100%;
 }
 #footer p {
 text-align: center;
 margin: 0.5% 0.5% 0.5% 0.5%;
 }
 */

#cytoscapeweb_container {
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
	background: #ccccbb;
	margin: 0.5% 0 0.5% 0;
}
#menu_container {
	float: left;
	width: 100%;
	position: relative;
	right: 70%;
	background: #ccccbb;
	margin: 0.5% 0 0.5% 0;
}
#tabs {
	float: left;
	width: 30%;
	position: relative;
	left: 71%;
	overflow: hidden;
}
#tabs.ui-tabs {
	/*height: 730px; with footer */
	height: 770px;
	padding: 0;
	border-width: 0;
}
#tabs .ui-widget-header {
	border: 0;
}
#tabs .ui-tabs-nav {
	border-width: 0;
	padding: 0;
	background: #ccccbb;
}
#tabs .ui-tabs-panel {
	/*height: 668px; with footer */
	height: 708px;
	border: 5px double;
	border-color: #cccccc;
	overflow: auto;
}
#tabs .ui-tabs-nav li.ui-tabs-selected {
	border: 5px double;
	border-color: #cccccc;
	margin-bottom: -5px;
}
#property_field {
	/*height: 585px; with footer */
	height: 625px;
	overflow: auto;
}
.btn_right_newline {
	float: right;
	margin-top: 3%;
}
.btn_next_info {
	float: right;
	margin-right: 5%;
}
.btn_right {
	float: right;
}
#search_result {
	height: 500px;
	overflow: auto;
}
#searching {
	font-size: 14px;
	font-weight: bold;
}
.result_header {
	font-size: 11px;
	font-weight: bold;
}
#chapter_note {
	font-size: 11px;
	width: 85%;
	color: #df0029;
	margin-bottom: 3%;
	margin-top: -3%;
}
#chapter_checkbox {
	margin-left: 40px;
}
.each_chapter {
	text-indent: -20px;
}
/*
 .layout_head {
 text-align: left;
 font-size: 9pt;
 font-weight: bold;
 margin: 2% 0.5% 0 0.5%;
 padding: 2% 0 0 3%;
 }
 */
.current_value {
	text-align: right;
	font-weight: bold;
}
#about {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#about_title {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 5%;
	margin-top: 5%;
}
.about_content {
	margin-bottom: 5%;
	margin-top: 5%;
}
#view {
	float: left;
	/*height: 720px; with footer*/
	height: 760px;
	width: 66%;
	border: 5px double;
	border-color: #cccccc;
	background-color: #ffffff;
	position: relative;
	text-align: center;
	left: 72%;
	overflow: hidden;
}
#current_view {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em;
	float: left;
	height: 100px;
	width: 100%;
	border: 5px double;
	border-color: #cccccc;
	background-color: #eceadf;
	position: relative;
	text-align: left;
	/*left: 72%;*/
	overflow: hidden;
}
.view_status, span#current_min.min_range, span#current_max.max_range {
	font-size: 14px;
	color: #df0029;
	font-weight: bold;
}
#cytoscapeweb {
	float: left;
	/*height: 600px; with footer */
	height: 640px;
	width: 100%;
	border: 5px double;
	border-color: #cccccc;
	background-color: #ffffff;
	position: relative;
	text-align: center;
	/*left: 72%;*/
	overflow: hidden;
}

